[Unit]
Description=Runs %APP_NAME% every 2 minutes to check network status

[Timer]
OnBootSec=0min
OnCalendar=*:0/2

[Install]
WantedBy=timers.target
